extend layout
block content
  #spiegel.newspaper
    h3 spiegel
    each article, i in spiegel
      if article.forum[0].comments.length != 0
        .accordion
          h1 #{article.title}
          .commenta
            each comment, j in article.forum[0].comments
              p #{comment.text}

  #zeit.newspaper
    h3 zeit
    each article, i in zeit
      if article.forum[0].comments.length != 0
        .accordion
          h1 #{article.title}
          .commenta
            each comment, j in article.forum[0].comments
              p #{comment.text}

block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.